:root {
    --header-height: 75px;
    --nav-height: 55px;
    --max-width: 768px;
    --page-margin: max(15px, calc(50vw - var(--max-width) / 2));
    --card-vertical-padding: 22px;
    --card-horizontal-padding: 32px;
    --border-radius: 12px;
}
