.header {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(var(--theme-background_w), 0.8);
}

.topBorder {
    height: 5px;
    background-color: var(--theme-400);
}

.logo {
    height: 35px;
    width: 220px;
}

.content {
    height: calc(var(--header-height) - 5px);
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.actions * {
    display: flex;
}

.actions svg {
    width: 32px;
    height: 32px;
    fill: var(--theme-500);
}
