.button {
    background-color: var(--theme-500);
    height: 48px;
    border-radius: 24px;
    color: var(--grey-900);
    font-size: 17px;
    font-weight: 400;
    padding: 0 20px;
    min-width: 140px;
    border: none;
    margin: 0 auto;
}

.button:active {
    background-color: var(--theme-500-shadow);
}

.button:disabled {
    background-color: var(--grey-750);
}
