.main {
    color: var(--grey-000);
    font-size: 22px;
    font-weight: 600;
}

.sub {
    color: var(--grey-650);
    font-size: 13px;
    font-weight: 400;
    padding: 13px 0 5px;
}

.mainCard {
    color: var(--grey-000);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.subCard {
    color: var(--grey-500);
    font-size: 13px;
    font-weight: 400;
}


.profileName {
    color: var(--grey-100);
}

.profileUsername {
    margin-left: 0.3em;
    color: var(--grey-650);
}
