
.item {
    padding: 0 12px;
}

.inner {
    padding: var(--card-vertical-padding) calc(var(--card-horizontal-padding) - 12px);
}

.root:not(:last-child) .inner {
    border-bottom: 1px solid var(--grey-750);
}

