
body {
  font-family: var(--theme-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-background);
  -webkit-tap-highlight-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
