:root {
    --title-font: 'Raleway', 'NanumBarunGothic', sans-serif;
    --theme-font: 'NanumBarunGothic', sans-serif;
    --alert-success_w: 139, 195, 074;
    --alert-level-1_w: 235, 160, 042;
    --alert-level-2_w: 236, 064, 122;
    --alert-level-3_w: 092, 051, 218;
    --alert-foreground-900_w: 255, 255, 255;
    --alert-success: rgb(var(--alert-success_w));
    --alert-level-1: rgb(var(--alert-level-1_w));
    --alert-level-2: rgb(var(--alert-level-2_w));
    --alert-level-3: rgb(var(--alert-level-3_w));
    --alert-foreground-900: rgb(var(--alert-foreground-900_w));
    --theme-400_w: 236, 143, 038;
    --theme-500_w: 235, 160, 042;
    --theme-900_w: 248, 222, 182;
    --theme-foreground-200_w: 052, 029, 004;
    --theme-foreground-900_w: 255, 255, 255;
    --theme-400: rgb(var(--theme-400_w));
    --theme-500: rgb(var(--theme-500_w));
    --theme-900: rgb(var(--theme-900_w));
    --theme-foreground-200: rgb(var(--theme-foreground-200_w));
    --theme-foreground-900: rgb(var(--theme-foreground-900_w));
    --theme-background_w: var(--grey-850_w);
    --theme-background: rgb(var(--theme-background_w));
    --grey-900_w: 255, 255, 255;
    --grey-850_w: 250, 250, 250;
    --grey-800_w: 241, 241, 241;
    --grey-780_w: 234, 234, 234;
    --grey-750_w: 225, 225, 225;
    --grey-700_w: 192, 192, 192;
    --grey-650_w: 161, 161, 161;
    --grey-600_w: 138, 138, 138;
    --grey-300_w: 050, 050, 050;
    --grey-200_w: 034, 034, 034;
    --grey-100_w: 016, 016, 016;
    --grey-000_w: 000, 000, 000;
    --grey-900: rgb(var(--grey-900_w));
    --grey-850: rgb(var(--grey-850_w));
    --grey-800: rgb(var(--grey-800_w));
    --grey-780: rgb(var(--grey-780_w));
    --grey-750: rgb(var(--grey-750_w));
    --grey-700: rgb(var(--grey-700_w));
    --grey-650: rgb(var(--grey-650_w));
    --grey-600: rgb(var(--grey-600_w));
    --grey-300: rgb(var(--grey-300_w));
    --grey-200: rgb(var(--grey-200_w));
    --grey-100: rgb(var(--grey-100_w));
    --grey-000: rgb(var(--grey-000_w));
    --shadow-400: 0 0 15px 0 rgba(var(--grey-000_w), .15);
    --shadow-500: 0 2px 20px 0 rgba(var(--grey-000_w), .15);
}
