.root {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.desc {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .2s ease;
    padding-top: 5px;
}

.desc span {
    color: var(--theme-red);
}

.desc.show {
    height: 20px;
    opacity: 1;
}
