.item {
    padding: 0 12px;
}

.inner {
    padding: 22px;
}

.item:active {
    background-color: var(--grey-700);
    transition: background-color .05s ease;
}

.item:not(:last-child) > .inner {
    border-bottom: 1px solid var(--grey-750);
}

.userMain {
    font-size: 16px;
    font-weight: 500;
}

.userMain > span:first-child {
    color: var(--grey-100);
}

.userMain > span:last-child {
    margin-left: 5px;
    color: var(--grey-600);
}

.userDesc {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    font-size: 13px;
    color: var(--grey-600);
}

.indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--grey-600);
    margin-right: 8px;
}
