.item {
    padding: 0 12px;
}

.inner {
    padding: 22px;
}

.item:not(:last-child) > .inner {
    border-bottom: 1px solid var(--grey-750);
}


.userDesc {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--grey-600);
    margin-right: 8px;
}
