.selectContainer {
    display: flex;
    flex-direction: row;
    background-color: var(--grey-800);
    color: var(--grey-650);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 15px;
    overflow: hidden;
}

.selectItem {
    background: none;
    flex: 1;
    height: 100%;
    color: inherit;
    font-size: inherit;
}

.selectItem.selected {
    background-color: var(--theme-500);
    color: var(--grey-900);
}
