.main {
    color: var(--grey-000);
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 5px;
}

.sub {
    color: var(--grey-650);
    font-size: 13px;
    font-weight: 400;
    /*padding-top: 12px;*/
    padding: 5px 0;
}

.profileName {
    color: var(--grey-100);
}

.profileUsername {
    margin-left: 0.3em;
    opacity: 0.5;
}
